.collapsible{
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: inherit;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: block;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    width: auto;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.container{
  margin: 0 auto;
  width: 500px;
  /* position: relative; */
}
