/**
 * Demo Styles
 */

html {
  height: 100%;
  box-sizing: border-box;
  /* position: relative; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 36rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo {
  margin: 20px auto;
  height: 700px;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  border: 1px solid black;
}

.demo h1 {
  margin-top: 0;
}

/**
 * Footer Styles
 */

footer {
  height: 400px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
