/* Set height of body and the document to 100% to enable "full page tabs" */
/* body, html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
} */

/* Style the tab buttons */
.tablink {

  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
  background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
  color: white;
  /* display: none; */
  padding: 50px;
  text-align: center;
  height: inherit;

  /* height: 1000px; */
}

.main{
  width: 85%;
  margin: 150px auto;
  border: 1px solid orange;
  height: 1500px;
}





/* Style each tab content individually*/
#London {background-color:red;}
#Paris {background-color:green;}
#Petra {background-color:brown;}
#Lahore {background-color:orange;}
