/* *{
  box-sizing: border-box;
} */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}


/* Center website */
.main {
  max-width: 1350px;
  /* min-width: 520px; */
  margin: 0 auto;
  background-color: red;
}

.row {
  width: 100%;
  margin: 0 auto;
  padding-left: 22px;
  border: 1px solid orange;
  background-color: gray;
}

.column{
  position: relative;
  background-color: transparent;
  float: left;
  width: 18%;
  margin-bottom: 16px;
  margin-right: 22px;
  border: 1px solid orange;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}

.content{
  border-radius: 5px;
}

.overlay{
  background-color: gray;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3c3c3c;
  color: white;
  font-family: 'Lato',sans-serif;
}

.column:hover .overlay {
  opacity: 0.9;
}


.textarea{
  padding: 10px;
  word-wrap: normal;
  text-align: center;
}
 .textarea h2{
   font-size: 1.2em;
 }
.textarea .email{
  font-size: 0.8em;
  word-wrap: break-word;
}

@media screen and (max-width:1200px) {
  .column{

    width: 20%;
    margin-right: 16px;
  }
}

@media screen and (max-width:820px) {
  .column{
    width: 30%;
  }
}

@media screen and (max-width:700px) {
  .column{
    width: 40%;
    margin-left: 8px;
  }

  .row{
    text-align: center;
  }
}

@media screen and (max-width:600px) {
  .column{
    width: 70%;
    margin: 8px auto;
    /* margin-bottom: 16px; */
    float: none;
    /* margin: 2px auto; */
    display: block;
  }

  .row{
    text-align: center;
    margin-top: 16px;
  }

  .textarea{
    margin-top: 40px;
    margin-bottom: auto;

  }

  .textarea h2{
    font-size: 1.2em;
  }
  .textarea .email{
    font-size: 1em;
  }
}
