*{
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}


/* Center website */
.main {
  max-width: 1200px;
  /* min-width: 520px; */
  margin: auto;
}

.row {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-left: 20px;
}

.column{
  position: relative;
  background-color: transparent;
  float: left;
  width: 19%;
  margin-bottom: 8px;
  margin-right: 4px;
  border: 1px solid orange;
  border-radius: 5px;
}

.content{
  border-radius: 5px;
}

.overlay{
  background-color: gray;
  border-radius: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3c3c3c;
  color: white;
  font-family: 'Lato',sans-serif;
}

.column:hover .overlay {
  opacity: 0.9;
}


.textarea{
  padding: 10px;
  word-wrap: normal;
}
 .textarea h2{
   font-size: 1.2em;
 }
.textarea .email{
  font-size: 0.9em;
  word-wrap: break-word;
}

@media screen and (max-width:820px) {
  .column{
    width: 30%;
  }
}

@media screen and (max-width:600px) {
  .column{
    width: 40%;
  }

  .row{
    text-align: center;
  }
}

@media screen and (max-width:500px) {
  .column{
    width: 70%;
    float: none;
    margin: 2px auto;
  }

  .row{
    text-align: center;
  }
}
