*{
  box-sizing: border-box:
}
table{
  width: auto;
  margin: 0 auto;
}

#headrow{
  background-color: orange;
  height: auto;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
}



tr:hover{
  background-color: #f5f5f5;
  color: orange;
  font-weight: bold;
  weight:800px;
}

th,td{
  border-bottom: 1px solid orange;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  width: 100px;

}
