*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.boxes{
  width:120px;
  height:70px;
  background-color: gray;
  display: inline-block;
}

.box-bottom{
  background-color: green;
  /* position: absolute; */
  /* display: inline-block; */
}

.box-top{

}

.container{
  /* display: inline; */
  border: 1px solid red;
}

.float{
  width: 120px;
  height: 70px;
  background-color: orange;
  float: right;
}

footer{
  background-color: red;
  position: relative;
  top: 70px;
}
