*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* margin: 0 auto; */
  width: 100%;
  margin: 0;
  background: grey;
}

.mainNavContainer{
  width: 85%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10;
  margin: 0 auto;
  transition: all 0.4s linear;
  background-color: #333;
  overflow: auto;
  padding-bottom: 5px;
  display: block;
}

#logo{
  float: left;
  height: 90px;
  width: 81px;
}

#navbar {
  width: 100%;
  padding: 10px;
  min-width: 1350px;
  /* display: inline-block; */
}

#navbar a:hover {
  /* background: #ddd; */
  color: orange;
}

#navbar a{
  float: left;
  /* display: inline-block; */
  color: #f2f2f2;
  text-align: center;
  padding: 0 10px;
  text-decoration: none;
  font-size: 14px;
  margin: 30px 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

 .mainNavContainer p{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 25px;
  margin:25px 10px;
  letter-spacing: 0.8em;
  overflow: auto;
}



@media screen and (max-width: 1260px) {
  .mainNavContainer{
    display: block;
  }
  #navbar p {
    position: absolute;
    top: 45px;
    left: 82px;
    /* margin-top: 0; */
    margin-left: 30px;
    font-size: 25px;
    letter-spacing: 0.3em;
  }
  }
