*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav{
  height: auto;
  width: 100%;
  background-color: #00a0a4;
  /* background-color: #26272b; */
  box-shadow: 0px 2px 28px gray;
  position: fixed;
  top: 0;
  z-index: 10;
}

.grid{
  color: white;
  height: inherit;
  width: 75%;
  max-width: 1300px;
  margin: auto;
  /* padding: 20px 40px; */
  /* border: 1px solid white; */
  font-family: sans-serif;
  font-size: 1.1em;
  display: grid;
  /* grid-column-gap: 2px; */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box a{
  position: relative;
  top: 30px;
  color: white;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding:  10px;
  border-radius: 30px;
}

.box a:active{
  color: orange;
}

.box{
  /* width: auto; */
  height: 100px;
  /* border-radius: 30px; */
  /* border: 1px solid orange; */
  text-align: center;
  /* margin: 0 auto; */
  /* padding-top: 5px; */
  /* padding-right: 5px; */
  /* padding-left: 5px; */
  /* padding: 0 10px; */
}


/* .box:hover, .box:hover a{
  background-color: white;
  color: #00a0a4;
  font-weight: bolder;
} */


.box:hover a{
  background-color: white;
  opacity: 80%;
  color: #00a0a4;
  font-weight: bolder;
  transition: all 0.6s linear;
}

.main{

  width: 75%;
  max-width: 1300px;
  height: 1300px;
  margin: 200px auto;
  border: 1px black solid;
}

@media only screen and (max-width: 1416px)  {
  .grid{
    width: 100%;
    max-width: 100%;
    font-size: 1.1rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }


  .box{
    height: 55px;
    /* padding: 10px 0; */
  }

  .box:hover{
    background-color: white;
    opacity: 60%;
    transition: all 0.5s linear;
  }

  .box a{
    position: relative;
    top:15px;

  }

  .box:hover a{
    background-color: transparent;
    opacity: 80%;
    /* color: #00a0a4; */
    font-weight: bolder;
    transition: all 0.5s linear;
  }

  .main{
    margin-top: 400px;
  }
}
